header {
    max-width: 100%;
}

h1 {
    max-width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
}

.body {
    max-width: 100%;
    border-radius: 8px;
    background-color: lightgray;
    padding: 10px 10px;
}

th {
    border-right: 1px solid black;
}

button, .value {
    padding: 15px 32px;
    border: none;
    border-radius:8px;
}

.sendButton {
    padding-left: 5px;
    padding-bottom: 20px;
}

.buttonsTableDiv {
    width: 80%;
    margin: auto;
    padding: 25px 25px;
}

.buttonsTable {
    background-color: white;
    border-radius: 8px;
}

select {
    width: 90%;
    border-radius: 8px;
    padding: 15px 32px;
}

.configurationTableElem {
    width: 30%;
    text-align: center;
    padding: 2.5px 10px;
    border-right: 1px solid black;
}

.responseDiv {
    padding: 5px 5px
}

.responseTableData {
    width: 50%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.responseTable {
    width: 80%;
    margin: auto;
    border-style: hidden;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;

}

.configurationTable {
    width: 80%;
    padding: 5px 5px 5px 5px;
    margin: auto;
    border-style: hidden;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
}

.output {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

button:hover, .a-href:hover {
    background-color: darkgrey;
}

.a-href {
    font: 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 15px 32px;
    border: none;
    border-radius: 8px;
    display: inline-block;
    width: 78%;
}

.a-logout {
    width: 55%;
    padding: 15px 16px;
}